.main-div{
    margin-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.projects-div{
    margin-top: 90px;
}

.title0{
    margin-left: 20px;
    font-size: 27px;
}