.main-div{
    margin-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.projects{
    flex-direction: row;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}

.title0{
    margin-left: 20px;
    font-size: 27px;
}