.main-div{
    margin-top: 50px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.projects{
    flex-direction: row;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    animation: slide 10000ms ease-in-out forwards;
}

.title0{
    margin-left: 20px;
    font-size: 27px;
    animation: slide 10000ms ease-in-out forwards;
}

@keyframes slide{
    0%{
        transform: translateX(-1450px);
    }
    30%, 100%{
        transform: translateX(0);
    }
}