.mini-link{
    color: orange;
    text-decoration: none;
}

.profile{
    font-size: 19px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
}

p{
    margin-left: 23px;
}

.prop{
    margin-top: 50px;
}